.about img{
    
    margin-left:500px;
    padding-top: 20px;
    border-radius: 5px solid  black;
    width: 200px;
    height: 200px; 
}
.about p{
    margin-left: 20px;
    color: red;

}
.about h2{
    margin-left: 10px;
}
.grid{
    margin-left: 2px;
    padding-block: 20px;
    padding-top: -20px;
    background-color: aqua;
    width: auto;
    height: auto;
    border-radius: 15px;
   
}
.h2{
    color: chartreuse;
    text-align: center;
    
}
.p{
    display: grid;
    grid-template-rows: 1fr;
    margin-left: 3px;
    margin-top: 0px;
    padding: 0px;
    color: black;
    font-family: cursive;
}
.grid1{
    display: grid;
    margin-left: 20px;
    margin-right: 20PX;
    padding: 20px;
    width: 300px;
    height: auto;
    background-color: blueviolet;
    border-radius: 30PX;
}
.g1 h3{
    margin-left: 5px;
    text-align: center;
    color: chartreuse;
    font-family: cursive;
}
.g2 h4{
    color: rosybrown;
    font-family: fantasy;
}
.s1 h3{
    display: block;
    text-align: center;
    font-family: cursive;
    color: chartreuse;
    background-color: orangered;
}
.grid2{
    
    display: block;
    width: auto;
    margin-top: -198px;
    padding-top: 0;
    margin-left: 350px;
    padding-top: 2px;
    border-radius: 20px;
    background-color: orangered;
}

.grid2 h2{
    margin-left: 20px;
    color: coral;
    font-family: cursive;
}
.col h3{
    font-family: cursive;
}
.grid3{
    margin-top: 20px;
    padding-top: 20px;
    background-color: black;
}
.grid4{
    width: auto;
    margin-top: 20px;
    padding-top: 20px;
    background-color: black;
    border-radius: 20px;

}
.grid4 img{
    margin-left: 10px;
}
.grid4 p{
    margin-top: 5px ;
    color: red;
}
@media (max-width: 400px) {
    .g2 h4{
        color: darkgoldenrod;
        font-family: fantasy;
    }
    
}
@media (max-width: 500px) {
    .grid {
        width: auto;
        background-color: yellow;
        gap: 0;
    }
    
}

@media (max-width: 400px){
    .about h2{
        text-align: center;
        font-family: cursive;
        color: red;
    }
}



@media (max-width: 500px){
    .about img{
        display: block;
        margin-left: 100px;
        padding: 30px;
        border-radius: 30px;
    width: 200px;
    height: 200px;
    
    
        
       
    }
}
@media (max-width: 320px) {
    
    .about img{
        display: block;
        margin-left: 50px;
        border-radius: 20px;
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 500px) {
    
.about p{
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    
    text-align: justify;
    color: darkorange;
    background-color: chartreuse;
    border-radius: 20px;
}
}
@media (max-width: 400px){
    .grid1{
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        background-color: black;
        border-radius: 20px;


    }
}
@media (max-width: 500px) {
    .grid2{
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        background-color: slateblue;
    }
    
}
@media (max-width: 500px) {
    .grid4{
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        background-color: blueviolet;

    }
    
}